.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 70px 10%;
}

.about-sections{
    display: flex;
    gap: 60px;
    margin-bottom: 50px;
}
.about-left img{
    width: 300px;
    border-radius: 10px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-skill{
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 130px;
    font-size: 20px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(270deg, #1ac3ee 50%, #B415FF 100%);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}
.about-achievement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(267deg, #00a3ff 0.36%, #89cdd7 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 18px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
@media (max-width: 1060px) {
    .about {
        gap: 50px;
        margin: 60px 8%;
    }
    .about-sections {
        gap: 40px;
    }
    .about-left img {
        width: 250px;
    }
    .about-para {
        font-size: 16px;
    }
    .about-skill p {
        font-size: 18px;
    }
    .about-achievements {
        justify-content: space-between;
    }
    .about-achievement h1 {
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    .title-box h1 {
        padding: 0;
    }
    .about {
        gap: 40px;
        margin: 50px 6%;
        align-items: start;
    }
    .about-sections {
        flex-direction: column;
    }
    .about-left {
        display: none;
    }
    .about-para {
        font-size: 14px;
        line-height: 22px;
    }
    .about-skill p {
        font-size: 16px;
    }
    .about-achievements {
        flex-direction: column;
        gap: 15px;
    }
    .about-achievement h1 {
        font-size: 26px;
    }
    .about-achievement p {
        font-size: 14px;
    }
}
